@import "spinner";
full-page-viewer{
	position: absolute;
	z-index: 1003;
	background: rgba(0,0,0,0.9);
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	@include transition(0.2s ease-in all);
	&.ng-hide-add,
	&.ng-hide-remove{
		opacity: 0;
	}

	.fit,
	button{
		&.ng-hide-add,
		&.ng-hide-remove {
			@include transition(0.3s ease-in all);
			display:block!important;
			opacity:1;
		}
		&.ng-hide {
			opacity:0;
		}
	}
	.fit{
		position: absolute;
		top: 60px;
		bottom: 30px;
		left: 60px;
		right: 60px;
		text-align: center;
		z-index: 0;
		img{
			position: absolute;
			left: 50%;
			top: 50%;
			max-width: 100%;
			max-height: 100%;
			@include transform(translate(-50%,-50%));
			&.ng-hide-add,
			&.ng-hide-remove {
				@include transition(0.3s ease-in all);
				display:block!important;
				opacity:1;
			}
			&.ng-hide {
				opacity:0;
			}

		}
		iframe{
			width: 1000px;
			height: 1000px;
			max-width: 100%;
			max-height: 100%;
		}
	}

	button{
		position: absolute;
		z-index: 2;
		padding: 0;
		margin: 0;
		border: 0;
		background-color: rgba(255,255,255,0.3);
		color: white;
		cursor: pointer;
		@include transition(all 0.3s ease-in);
		&:hover{
			background-color: rgba(255,255,255,0.2);
		}
		&:focus{
			outline: 0;
		}
		&:active{
			background-color: #51b2b1;
		}
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.top-buttons{
		top: 0;
		right: 60px;
		position: absolute;

		.top-button{
			position: relative;
			padding: 2px;
			padding-top: 12px;
			padding-bottom: 3px;
			float: right;
			margin-left: 5px;
			&:hover{
				padding-top: 30px;
			}
		}
		.icon-close{
			font-size: 20px;
			&:active{
				background-color: rgb(223, 124, 42);
			}
		}
		.icon-info{
			font-size: 16px;
			padding-top: 17px;
			padding-left: 5px;
			padding-right: 5px;
			&:active{
				background-color: rgb(42, 69, 151);
			}
		}
	}
	#info-popup{
		position: absolute;
		left: 50%;
		bottom: 0;
		max-width:100%;
		@include transform(translate(-50%, 0));
		@include transition(all 0.2s ease-in);
		font-size: 15px;
		border: 1px solid $blue;
		text-align: left;
		z-index: 2;
		color: white;
		background-color: black;
		padding: 20px 0;
		padding-right: 20px;
		border-bottom: 0;
		.icon-close{
			top: -14px;
			right: -1px;
			padding: 4px;
			background-color: $blue;
		}
		.column{
			padding-left: 20px;
			float: left;
		}
		.info{
			padding: 3px;
			.label{
				font-weight: 100;
			}
			.data{
				font-weight: 300;
			}
		}
		&.ng-hide-add,
		&.ng-hide-remove{
			display: block !important;
		}
		&.ng-hide{
			@include transform(translate(-50%, 110px));
		}
	}
	.move{
		height: 100%;
		width: 40px;
		&.icon-left{
			left: 0;
		}
		&.icon-right{
			right: 0;
		}
	}
	.title{
		position: absolute;
		top: 0;
		left: 50px;
		right: 135px;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		h3,
		h4{
			margin: 0;
			margin-right: 10px;
			color: white;
			display:inline-block;
			@include transition(0.2s ease-in all);
		}
	}
}

@media screen and (max-width: #{$large-width-control}px){
	full-page-viewer .title{
		h3{
			font-size: 30px;
		}
		h4{
			font-size: 15px;
		}
	}
}
@media screen and (max-width: #{$medium-width-control}px){
	full-page-viewer{
		.title{
			h3,h4{
				opacity: 0;
			}
		}
		#info-popup{
			font-size: 12px;
		}
	}
}
