.top header{
	position: relative;
	height: 300px;
	width: 100%;
	background-color: $blue;
	z-index: 1001;
	@include transition (all 0.5s ease-out);
	#elrey{
		left: 0;
		height: 100%;
		background-repeat: no-repeat;
		background-image: inline-image('elrey.jpg');
		background-size: contain;
		@include transition (all 0.5s ease-out);
	}
	h1{
		position: absolute;
		bottom: 25px;
		right: 27px;
	}
	h2{
		position: absolute;
		right: 30px;
		bottom: 0;
	}
	h3{
		position: absolute;
		top: 0;
		right: 28px;
	}
	h4{
		position: absolute;
		right: 29px;
		top: 50px;
	}
	h1,
	h2,
	h3,
	h4{
		@include transition (all 0.5s ease-out);
	}
	.thisismsg{
		display: inline-block;
		overflow: hidden;
		width: 140px;
		white-space: nowrap;
		@include transition (all 0.3s ease-out);
		position: relative;
		top: 7px;
		margin-right: 5px;
		text-align: right;
		&.ng-hide-add{
			display: inline-block !important;
			width: 140px;
		}
		&.ng-hide-remove{
			display: inline-block !important;
			width: 0;
		}
		&.ng-hide{
			width: 0;
		}
	}
	.dropdown{
		display: inline-block;
		border: 1px solid white;
		padding: 0 7px;
		text-align: left;
		cursor: pointer;
		position: relative;
		height: 35px;
		width: 150px;
		overflow: hidden;
		top: 12px;
		color: white;
		background: $blue;
		font-size: 22px;
		font-weight: 100;
		outline: 0;
		@include transition (all 0.2s ease-out);
		&:hover{
			color: $blue;
			background-color: white;
		}
		ul{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			color: white;
			background: $blue;
			li{
				cursor: pointer;
				padding: 0 7px;
				@include transition (all 0.3s ease-out);
				&:hover,
				&.active:hover{
					color: black;
					a{
						color: black;
					}
				}
			}
			a{
				text-decoration: none;
				color: white;
				font-size: 22px;
			}
		}
		&.active{
			height: 93px;
		}
	}
	.small-screen-nav{
		position:absolute;
		right: 10px;
		bottom: 10px;
		font-size:12px;
		@include transition (all 0.3s ease-out);
		visibility: hidden;
		opacity: 0;
		li,
		a{
			float: right;
			color: white;
			list-style: none;
			padding-left: 10px;
			font-size: 14px;
			cursor: pointer;
			text-decoration: none;
			font-weight: 300;
			@include transition (all 0.3s ease-out);
			&.active{
				color: rgb(24,24,24);
			}
			&:hover{
				color: black;
			}
		}
	}
}

@media screen and (min-width: #{$small-width-control}px) and (max-width: #{$large-width-control}px),
			screen and (max-height:  #{$small-height-control}px)  {
	.top header{
		h1{
			font-size: 80px;
		}
		h2,
		.dropdown{
			font-size: 16px;
		}
		.dropdown{
			height: 24px;
			width: 100px;
			&.active{
				height: 68px;
			}
			ul li a{
				font-size: 16px;
			}
		}
		h3{
			font-size: 28px;
		}
		h4{
			font-size: 16px;
		}
	}
}
@media screen and (min-width: #{$small-width-control + 1}px) and (max-width: #{$medium-width-control}px) and (min-height: #{$medium-height-control + 1}px){
	.top header{
		height: 240px;
	}
}
@media screen and (max-width: #{$small-width-control}px),
			screen and (max-height:  #{$medium-height-control}px) and (min-height: #{$small-height-control + 1}px){
	.top header{
		height: 150px;
		h1,
		h2{
			opacity: 0;
		}
		h3{
			right: 10px;
			font-size: 28px;
		}
		h4{
			font-size: 14px;
			right: 10px;
		}
		.small-screen-nav{
			visibility: visible;
			opacity: 1;
		}
	}
}
@media screen and (max-width: #{$xsmall-width-control}px){
	.top header #elrey{
		opacity: 0;
	}
}
@media screen and (max-height:  #{$small-height-control}px){
	.top header{
		height: 110px;
		h1,
		h2{
			opacity: 0;
		}
		h3{
			right: 10px;
			font-size: 20px;
		}
		h4{
			font-size: 10px;
			right: 10px;
		}
		.small-screen-nav{
			visibility: visible;
			opacity: 1;
			li,a{
				font-size: 12px;
			}
		}
	}
}
