@import "mixins";

@media screen and (max-width: #{$medium-width-control}px){
	.spinner{
		opacity: 0;
	}
}

@include keyframes(rotate){
	from {@include transform(rotate(0deg));}
	to {@include transform(rotate(360deg));}
}
@include keyframes(bounce){
	0%, 100% { 
		@include transform(scale(0.0));
	} 50% { 
		@include transform(scale(1.0));
	}
}

.spinner{
	position: relative;
	width: 80px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	top: 50%;
	z-index: 0;
	@include animation(rotate 2.0s infinite linear);
	.dot1,
	.dot2 {
		position: absolute;
		display: inline-block;
		width: 60%;
		height: 60%;
		background-color: #51b2b1;
		border-radius: 100%;
		@include animation(bounce 2.0s infinite ease-in-out);
	}
	.dot1{
		top: 0;
	}
	.dot2 {
		bottom: 0;
		-webkit-animation-delay: -1.0s;
		-moz-animation-delay: -1.0s;
		-ms-animation-delay: -1.0s;
		-o-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
}
img.spinner{
	height: 60px;
}