$blue : rgb(81,178,177);
$small-height-control: 350;
$medium-height-control: 450;
$min-width: 240;
$max-width: 1000;
$xsmall-width-control: 260;
$small-width-control: 320;
$medium-width-control: 380;
$large-width-control: 670;

@import "compass/css3";

@import "fullpageviewer";
@import "fontello";
